@{
    ViewData["Title"] = "Thông tin đội ngũ";
}
@model IEnumerable<BOOKSTORE.Data.Introduction>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About app</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    body {
        font-family: "Montserrat", serif
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: serif;
        letter-spacing: 5px
    }
    </style>
</head>
<body>
    @foreach (var item in Model)
    {
    <!-- Ảnh bìa-->
    <div class="w3-display-container w3-padding-top-48">
            <img src="~/Picture/@item.FirstImage" alt="Catering" style="width:100%">
        <div class="w3-display-bottomleft w3-padding w3-opacity">
            <h1>BOOKSTORES</h1>
        </div>
    </div>

    <div id="about" class="w3-padding-top-64">
        <div class="w3-row">
            

                <!-- Ảnh giới thiệu app-->
                <div class="w3-half w3-padding-large w3-hide-small">
                    <img src="~/Picture/@item.LeftImage" class="w3-round w3-image w3-opacity-min" alt="Table" style="width:100%">
                </div>
                <!-- Giới thiệu app-->
                <div class="w3-half w3-padding-large">
                    <h1 class="w3-center">Giới thiệu</h1><br>
                    <h5 class="w3-center">Chào mừng bạn đến với BOOKSTORE này.</h5>
                    <p class="w3-large">@item.Description</p>
                    <p class="w3-large"> Địa chỉ: @item.Address</p>
                    <p class="w3-large"> Liên hệ: @item.Phone</p>
                </div>
            
        </div>
    </div>
    }

</body>
</html>