@{
    
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/dangnhap.css" />
</head>

<div class="container text-center mt-5">
    <h2 class="display-4 text-primary mb-4">Chào mừng bạn đến với Bookstore</h2>

    <p class="lead text-muted mb-5">Hãy đăng nhập hoặc đăng ký để khám phá thế giới sách của chúng tôi!</p>

    <div class="d-flex justify-content-center">
        <a asp-controller="Account" asp-action="Login" class="btn btn-lg btn-primary mx-3 px-4 py-2 btn-hover">Đăng Nhập</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-lg btn-primary mx-3 px-4 py-2 btn-hover">Đăng Ký</a>
    </div>
</div>
