@model BOOKSTORE.Data.Order

@{
    ViewData["Title"] = "Chi Tiết Đơn Hàng";
}

<h1>Chi Tiết Đơn Hàng</h1>

<div>
    <h3>Order ID: @Model.CartId</h3>
    <h4>Order Detail:</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.OrderDetail.ProductId</td>
                <td>@Model.OrderDetail.Quantity</td>
                <td>@(Model.Quantity * Model.UnitPrice)</td>
            </tr>
        </tbody>
    </table>
</div>
