body {
    background: linear-gradient(to right, #ffffff, #007FFF);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 40px 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}

.btn-hover {
    transition: background-color 0.3s ease, transform 0.3s ease;
}

    .btn-hover:hover {
        transform: translateY(-3px);
    }

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.btn-outline-secondary {
    border-color: #6c757d;
}

    .btn-outline-secondary:hover {
        background-color: #6c757d;
        color: white;
    }
.form-group{
    font-size: 30px;
}
