@model BOOKSTORE.Data.Introduction
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Thêm thông tin giới thiệu";

}
<link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
<link href="~/css/sb-admin-2.css" rel="stylesheet" />
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Quản Lý Giới thiệu</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">


        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <h3 class="btn-secondary">Thêm mới</h3>


                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Id" class="control-label"></label>
                                    <input asp-for="Id" class="form-control" />
                                    <span asp-validation-for="Id" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FirstImage" class="control-label"></label>
                                    <input type="file" asp-for="FirstImage" class="form-control" />
                                    <span asp-validation-for="FirstImage" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LeftImage" class="control-label"></label>
                                    <input type="file" asp-for="LeftImage" class="form-control" />
                                    <span asp-validation-for="LeftImage" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <textarea asp-for="Description" class="form-control"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address" class="control-label"></label>
                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone" class="control-label"></label>
                                    <input asp-for="Phone" class="form-control" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="UpdateLast" class="control-label">Ngày thực hiện</label>
                                    <input type="date" asp-for="UpdateLast" class="form-control" />
                                    <span asp-validation-for="UpdateLast" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Thêm" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div>
                        <a asp-action="Index" class="button">Quay lại</a>
                    </div>

                </table>
            </div>
        </div>
    </div>

